* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #a1fffd;
}

h1 {
    text-align: center;
    font-family: 'Ultra', serif;
    font-size: 60px;
    font-family: 'Yesteryear', cursive;
    padding-top: 20px;
}

h2 {
    text-align: right;
    padding: 10px 10px 0 10px;
    height: 70px;
    font-family: 'Ultra', serif;
    font-size: 38px;
    letter-spacing: 3px;
    background-color: #368dff;
    color: #fff;
}

button {
    font-family: 'Ultra', serif;
    font-size: 30px;
    color: #fff;
    background-color: #368dff;
    border: 1px solid #000;
}

button:hover {
    background-color: #94c2ff;
    cursor: grab;
}

.main-btn {
   box-sizing: border-box;
}

.ops-btn {
    /* border: 1px solid black; */
    border-left: none;
}

.display {
    border: 1px solid black;
    width: 21%;
    height: 70px;
    margin: 100px auto;
    margin-bottom: 0px;   
}

.container {
    display: grid;
    border: 1px solid black;
    width: 21%;
    height: 400px;
    grid-template-columns: 3fr 1fr;
    margin: 0 auto;
}

.numbers {
    border: 2px solid black;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.operations {
    border: 2px solid black;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
}